api_key.txt
__pycache__/
*.pyc
audio/
cookies.txt
youtube_cookies.txt
data/cookies.txt
data/youtube_cookies.txt
audio/lifestyle_vlogs
audio/politics_news
audio/self_help
audio/tech_coding
audio/religion_spirituality
audio/business_finance
audio/gaming_esports
audio/standup_comedy
